<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buaa.ichat.mapper.FriendsMapper">
    <select id="getFriendsByID" resultType="org.buaa.ichat.entity.User">
        select * from Friends,User where
        (senderID = #{ID} OR receiverID = #{ID}) AND status = 1
        and (senderID = `User`.UserID or receiverID=`User`.UserID) and `User`.UserID != #{ID};
    </select>
    <select id="getRelationsByID" resultType="org.buaa.ichat.entity.Friends">
        select * from Friends where senderID = #{ID} OR receiverID = #{ID};
    </select>

</mapper>